body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../resources/hospital.jpg");
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4F8DDE;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title {
    font-size: 1.5em;
    flex-grow: 1;
    text-align: left;
    margin: 0 10px;
    white-space: nowrap;
    color: white;
}

.loginbtn {
    padding: 8px 50px;
    background-color: #4F8DDE;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.loginbtn:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Main container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Ensures the container is centered relative to the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: nowrap;
    max-width: 900px;
    width: 100%;
}


/* Info Section */
.info {
    background-color: #4F8DDE;
    padding: 20px;
    border-radius: 12px 0px 0px 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    max-width: 45%;
    text-align: center;
    flex: 1;
    min-height: 410px;
    max-height: 410px;
    overflow-y: auto;
}

/* Form Section */
.text {
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    max-width: 45%;
    text-align: left;
    flex: 1;
    min-height: 400px;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
}

/* Form Title */
.text h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Form Fields */
.text p {
    margin-bottom: 15px;
    font-size: 16px;
}
.note {
    text-align: center;
}
.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link:hover{
    text-decoration: underline;
}
.text input, .text select {
    width: 95%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Button Styling */
.text button {
    background-color: #4F8DDE;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.text button:hover {
    background-color: #3b74b1;
}

/*footer*/
.footer {
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
}