/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    background-color: #4F8DDE;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.logo {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.title {
    font-size: 1.8em;
    flex-grow: 1;
    text-align: left;
    margin: 0 20px;
    white-space: nowrap;
}

.loginbtn, .loginbtn_active {
    padding: 1px 5px;
    background-color: #4F8DDE;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 50px;
    margin-left: auto;
}

.loginbtn_active {
    font-weight: bold;
}

.loginbtn:hover {
    text-decoration: underline;
    font-weight: bold;
}
/* Container styles */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px;
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: black;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Button styles */
.btn {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
}

.btn.primary {
    background-color: #04AA6D;
    color: white;
}

.btn.primary:hover {
    background-color: #028a56;
}

.btn.secondary {
    background-color: #0d6efd;
    color: white;
}

.btn.secondary:hover {
    background-color: #084dbf;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        text-align: center;
    }

    .title {
        margin: 10px 0;
    }

    .header-buttons {
        width: 100%;
        justify-content: center;
    }

    .container {
        width: 90%;
        padding: 30px 15px;
    }

    .btn {
        width: 100%;
        padding: 10px;
    }
}
